{% extends '../base.html' %}
{% load mathfilters %}

{% block css_link %}
	<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock css_link %}
	

{% block content %}
	<div id="guestbook">
		<form action="/guestbook/add" method="post">
			{% csrf_token %}
			<!-- <input type="hidden" name="a" value="insert"> -->
			<table>
				<tr>
					<td>이름</td><td><input type="text" name="name"></td>
					<td>비밀번호</td><td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td colspan=4><textarea name="message" id="message" cols=60 rows=5></textarea></td>
				</tr>
				<tr>
					<td colspan=4 align=right><input type="submit" VALUE="등록"></td>
				</tr>
			</table>
		</form>

		
		{% for guestbook in guestbook_list %}
			<ul>
				<li>
					<table>
						<tr>
							<td>{{ guestbook_list | length | sub:forloop.counter0 }}</td>
							<td>{{ guestbook.name }}</td>
							<td>{{ guestbook.reg_date }}</td>
							<td><a href="/guestbook/deleteform?no={{ guestbook.no }}">삭제</a></td>
						</tr>
						<tr>
							<td colspan=4>
								{{ guestbook.message | linebreaksbr }}	
							</td>
						</tr>
					</table>
					<br>
				</li>
			</ul>
		{% endfor %}
			
		
	</div>
{% endblock content %}

