{% extends '../base.html' %}
{% load mathfilters %}

{% block css_link %}
	<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock css_link %}
	
{% block content %}

	<div id="board">
		<form id="search_form" action="" method="post">
			<input type="text" id="kwd" name="kwd" value="">
			<input type="submit" value="찾기">
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th style="width: 200px;">제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>&nbsp;</th>
			</tr>
			{% for board in board_list %}			
				<tr>
					<td>{{ board_list | length | sub:forloop.counter0 }}</td>
					<td style="text-align: left; padding-left: 0;"><a href="/board/view?no={{ board.no }}">{{ board.title }}</a></td>
					<!-- padding-left: {30 | ..} depth별로 적용되게 짜주기 -->
					<td>{{ board.name }}</td>
					<td>{{ board.hit }}</td>
					<td>{{ board.reg_date }}</td>
					<!-- 작성한 user만 삭제 보이게 하기 -->
					<td>
						{% if request.session.authuser.no == board.user_no %}
							<a href="/board/deleteform?no={{ board.no }}" class="del">삭제</a></td>
						{% endif %}
					</td>
					
				</tr>
			{% endfor %}
		</table>
		
		<!-- pager 추가 -->
		<div class="pager">
			<ul>
				<li><a href="">◀</a></li>
				<li><a href="">1</a></li>
				<li class="selected">2</li>
				<li><a href="">3</a></li>
				<li>4</li>
				<li>5</li>
				<li><a href="">▶</a></li>
			</ul>
		</div>					
		<!-- pager 추가 -->
		
		<div class="bottom">
			{% if request.session.authuser is not None %}
				<a href="/board/writeform" id="new-book">글쓰기</a>
			{% endif %}
		</div>				
	</div>
{% endblock content %}